*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 153, 109);
}


/* Card principal*/
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* width: 800px; */
    border-radius: 10px;
}



/* texto informativo sobre las pizzas  */
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    height: 250px;
    position: relative;
}
.nombre{
  position: absolute;
  top: 12px;
  left: 12px;
  color:rgb(155, 114, 37);
}
.precio{
  position: absolute;
  top: 112px;
  left: 12px;
  color:rgb(155, 114, 37);
}
.ingredientes{
  margin-top: 140px;
  font-size: 20px;
  margin-left: 12px;
  color:rgb(155, 114, 37);
}


/* Imagenes de pizzas */
.images{
    width: 250px;
    height: 250px;
    border-radius: 10px 0 0 10px;
}


/* Input, botton y texto */

.findPizzas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.findPizzas label{
  color:rgb(252, 178, 40);
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

#InputId{
  width: 60px;
}
.submitButton{
  margin-top: 20px;
  padding: 5px;
  outline: none;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.submitButton{
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.submitButton:hover {
  box-shadow: 0 0 40px 40px rgb(65, 58, 46) inset;
}